nav {
  &.nav {
    width: 100%;
    position: fixed;
    align-items: center;
    display: flex;
    margin: 0;
    justify-content: center;
    height: 80px;
    z-index: 999;
    &.scrolled {
      .bg {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        opacity: 1;
        top: 0;
      }
      .column {
        &.left,
        &.right {
          z-index: 1;
          a {
            color: black;
            font-weight: bold;
          }
        }
        &.left {
          a {
            color: $iMessageBlue;
            &.brand-name {
              i {
                background: none !important;
              }
            }
          }
        }
      }
    }
    .bg {
      height: 100%;
      width: 100%;
      position: absolute;
      top: -80px;
      background-color: rgba(240, 240, 240, 0.95);
      opacity: 0;
      transition: all 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
      z-index: 0;
    }
    .column {
      &.left {
        font-family: $brandNameFont;
        color: white;
        padding: 10px;
        align-self: center;
        align-items: center;
        display: flex;
        padding: 0 0 0 20px;
        font-size: 25px;
        a {
          color: white;
          font-size: 22px;
          &.brand-name {
            font-family: $brandNameFont;
            font-size: 30px;
            font-weight: 100;
            i {
              color: $iMessageBlue;

              font-size: 20px;

              transform: rotate(40deg);
            }
          }
        }
      }
      &.right {
        ul {
          display: flex;
          justify-content: flex-end;
          height: 80px;
          align-items: center;
          margin: 0;
          padding: 0 20px 0 0;
          a {
            margin: 0 8px;
            color: white;
            transition: $transition;
            position: relative;
            opacity: 0.5;
            text-transform: capitalize;
            font-weight: 100;
            text-transform: uppercase;
            &:hover {
              i {
                top: -55%;
                opacity: 1;
              }
            }
            &.call-cta {
              background-color: $iMessageBlue;
              padding: 5px 10px;
              color: $iMessageGrey;
              font-size: 14px;
              margin: 0 0 0 20px;
              border-radius: $borderRadius;
              opacity: 1;
              i {
                opacity: 1;
                transform: none;
                left: auto;
                top: auto;
                position: relative;
                margin: 0 0 0 5px;
                &:hover {
                  @include BiggestBoxShadow;
                }
              }
            }
            i {
              transform: translateX(-50%);
              position: absolute;
              left: 50%;
              top: 100%;
              transition: $transition;
              opacity: 0;
            }
            &:hover {
              cursor: pointer;
              opacity: 1;
            }
            &.active {
              opacity: 1;
            }
          }
        }
      }
    }

    .column {
      height: 80px;
      padding: 0;
    }
  }
}
