$brandNameFont: "Yesteryear", cursive;
$transition: all 0.3s ease-in-out;
$borderRadius: 0.3rem;

// colors
$iMessageBlue: #1885ff;
$iMessageGrey: #e9e8eb;
$lightBlack: #505050;
$darkPurple: #745acd;
$darkerPurple: #5739af;
$lightPurple: #947fe8;
$ghostWhite: #f8f8ff;
$gold: #ffff00;
$danger: #f14668;
$dangerLight: #feecf0;
$bootstrapGrey: #f7f7f9;
$bootstrapLightGrey: #f1f3f4;
$lightestGrey: #f8f8f8;
$green: #39c16c;
$gradient: linear-gradient(
  120deg,
  $iMessageBlue,
  white,

);

// media
$tablet: 768px;
$mobile: 600px;
