$brandNameFont: "Yesteryear", cursive;
$transition: all 0.3s ease-in-out;
$borderRadius: 0.3rem;

// colors
$lightBlack: #505050;
$darkPurple: #745acd;
$darkerPurple: #5739af;
$lightPurple: #947fe8;
$ghostWhite: #f8f8ff;
$gold: #ffff00;
$danger: #f14668;
$dangerLight: #feecf0;
$bootstrapGrey: #f7f7f9;
$bootstrapLightGrey: #f1f3f4;
$lightestGrey: #f8f8f8;
$green: #39c16c;
$gradient: linear-gradient(
  120deg,
  #1f005c,
  #27066b,
  #2f0e7a,
  #391788,
  #432397,
  #4f30a6,
  #5c3eb5,
  #6a4fc4,
  #7a61d3,
  #8b74e1,
  #9e8af0,
  #b2a1ff
);
$iMessageBlue: #1885ff;
$iMessageGrey: #e9e8eb;

// media
$tablet: 768px;
$mobile: 600px;
