// Styles
@import "../styles/bundle.scss";
.contact-form {
  background: #f8f9fa;
  .content-block {
    max-width: 100%;
    .title {
      @include BlueHeader;
    }
  }
  .form {
    width: 60%;
    margin: 0 auto;
    @media (max-width: 768px) {
      width: 100%;
    }
    .column {
      padding-bottom: 0;
    }
    input {
      box-shadow: none;
      padding: 30px 20px;
      display: flex;
      align-items: center;
      border: 1px solid #dbdbdb;
    }
    textarea {
      box-shadow: none;
      border: 1px solid #dbdbdb;
    }
    button {
      color: $lightBlack;
    }
    .errors {
      padding: 10px;
      background-color: $dangerLight;
      border-radius: $borderRadius;
      border: 1px solid #dbdbdb;
      .error {
        color: $danger;
        margin: 0;
        text-align: center;
      }
    }
  }
}
