p {
  color: $lightBlack;
  @media (max-width: 768px) {
    font-size: 22px;
  }
  @media (max-width: 600px) {
    font-size: 20px;
    text-align: left;
  }
}

button,
a {
  @media (max-width: 768px) {
    font-size: 20px;
  }
  @media (max-width: 600px) {
    font-size: 18px;
  }
}

html,
body {
  overflow: auto;
  min-height: 100;
}

html {
  height: auto;
  min-height: 100%;
}

img {
  border-radius: $borderRadius;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: auto;
  border: 3px solid $iMessageGrey;
}

// Button
button {
  background: white;
  border-radius: $borderRadius;
  padding: 10px 20px;
  border: 0;
  font-size: 14px;
  color: $iMessageBlue;
  transition: $transition;
  text-transform: uppercase;
  font-weight: bold;
  a {
    text-transform: uppercase;
    font-weight: bold;
    color: $iMessageBlue;
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    a {
      color: $iMessageBlue;
    }
  }
  &.blue {
    background: $iMessageBlue;
    color: white;
    a {
      color: white;
    }
    &:hover {
      color: white;
      a {
        color: white;
      }
    }
  }
  &.grey {
    background: $iMessageGrey;
    text-transform: uppercase;
    a {
      color: $lightBlack;
    }
  }
  &.centered {
    margin: 0 auto;
    display: block;
  }
}

* {
  font-family: "Helvetica Neue", Helvetica;
  @include SmallScrollbar;
  &::-webkit-scrollbar {
    width: 15px;
    transition: $transition;
    background: $iMessageBlue;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $bootstrapGrey;
    border-radius: 0;
    transition: $transition;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $iMessageBlue;
    border-radius: 0;
    transition: $transition;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $iMessageBlue;
    cursor: pointer;
    transition: $transition;
  }
}

// Common Page
.page {
  section {
    padding: 100px 20px;
    .content-block {
      text-align: center;
      max-width: 1200px;
      margin: 20px auto;
      h2 {
        @include BlueHeader;
      }
    }
  }
}

// Subpage
.subpage {
  height: 100%;
  section {
    padding: 50px 20px;
    .content-block {
      text-align: center;
      max-width: 1200px;
      margin: 20px auto;
    }
  }

  .hero {
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
      color: white;
      font-size: 100px;
      font-family: $brandNameFont;
      @include TextShadow;
    }
  }
  &.contact {
    background: $iMessageGrey;
    .hero {
      @include DarkenedImage("../img/contact/hero.jpg");
    }

    .form {
      .title {
        display: none;
      }
    }
  }
  &.gallery {
    background: $iMessageGrey;
    .hero {
      @include DarkenedImage("../img/gallery/hero.jpg");
    }
  }
  &.services {
    .hero {
      @include DarkenedImage("../img/services/hero.jpg");
    }
  }
  &.about {
    .hero {
      @include DarkenedImage("../img/about/hero.jpg");
    }
  }
}

// Image Slider
.image-slider {
  .slider-parent {
    .slider-nav {
      display: flex;
      margin: 20px auto;
      align-items: center;
      width: 100%;
      justify-content: center;
      .arrow {
        font-size: 40px;
        opacity: 0.3;
        transition: $transition;
        &:hover {
          opacity: 1;
          cursor: pointer;
          color: $iMessageBlue;
        }
      }
    }
    .slick-slide {
      div {
        margin: 0 5px;
        img {
          border-radius: $borderRadius;
        }
      }
    }
  }
}

// Utility Classes
.text-shadow {
  @include TextShadow;
}
